@media screen and (max-width: 600px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 6%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}
.color-container {
  display: flex;
  flex-direction: column;
  align-items center;
}

